<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Subject</title>
  </head>
  <body>
    <p>First Name: <span><%= rowStudent.first_name %></span></p>
    <p>Last Name: <span><%= rowStudent.last_name %></span></p>
    <p>Email: <span><%= rowStudent.email %></span></p>

    <form action="/students/<%= rowStudent.id %>/addsubject" method="post">
      <select name="subjectId">
        <% rowSubject.forEach(subject => { %>
          <option value="<%= subject.id %>"><%= subject.subject_name %></option>
        <% }) %>
      </select>
      <button>ADD SUBJECT</button>
    </form>
  </body>
</html>