<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/meta', {title: title}) %>
  <body>
    <% include ../partials/navigation %>

    <table style="width: 100%;">
      <thead>
        <tr>
          <th>Id</th>
          <th>Subject Name</th>
          <th>Teachers</th>
          <th>Students</th>
        </tr>
      </thead>
      <tbody align="center">
        <% rowsSubject.forEach(subject => { %>
          <tr>
            <td><%= subject.id %></td>
            <td><%= subject.subject_name %></td>
            <td>
              <% rowsTeacher.forEach(teacher => { %>
                <% if (subject.id === teacher.SubjectId) { %>
                  <ul style="padding: 0">
                    <li style="list-style-type: none">
                      <%= teacher.first_name %>
                    </li>
                  </ul>
                <% } %>
              <% }) %>
            </td>
            <td>
              <a href="/subjects/<%= subject.id %>/enrolledstudents">Enrolled Students</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>