<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Teacher</title>
  </head>
  <body>
    <h3>Edit Teacher</h3>
      <form action="/teachers/edit/<%= rowTeacher.id %>" method="post">
        <p>First Name: <input type="text" name="firstname" value="<%= rowTeacher.first_name %>"/></p>
        <p>Last name: <input type="text" name="lastname" value="<%= rowTeacher.last_name %>"/></p>
        <p>Email: <input type="email" name="email" value="<%= rowTeacher.email %>"/></p>
        <p>Subject:
          <select name="subjectId">
            <% rowSubject.forEach(rowSubject => { %>
              <option value="<%= rowSubject.id %>"
                <% if (rowSubject.id === rowTeacher.SubjectId) { %>
                  <%= 'selected' %>
                <% } %>
              >
                <%= rowSubject.subject_name %>
              </option>
            <% }) %>
          </select>
        </p>
        <button>EDIT TEACHER</button>
      </form>
  </body>
</html>